body {
    background-image: url('/public/v748-toon-131.jpg');
    background-size: cover;
}

.section {
    margin: 10% 20%;
    padding: 5%;
    text-align: center;
    background-color: white;
    border-radius: 25px;
}

input[type="text"]:focus {
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .section {
        margin: 10% 5%;
    }
}